<div
  class="w-full items-center relative justify-center text-center py-[50px]"
  id="subHero"
  name="subHero"
>
  <div
    class="text-black lg:flex sm:block border-y-2 border-yellow-500 justify-between py-6 content px-8 sm:px-[1rem] lg:px-[10rem] w-full gap-6"
  >
    <div class="w-full flex flex-col justify-start text-left gap-4">
      <h2 class="font-sans">Siempre Estamos Listos Para Ayudarte</h2>
      <p class="lg:w-10/12 md:w-full sm:w-full font-sans">
        Somos una constructora ubicada en Alta Gracia, dedicada a la creación de
        proyectos innovadores y de alta calidad. Con más de 20 años de
        experiencia en la industria, nos especializamos en la construcción de
        viviendas, edificios comerciales y obras públicas. Nuestro compromiso es
        brindar un servicio excepcional, adaptándonos a las necesidades de
        nuestros clientes y garantizando la máxima satisfacción en cada proyecto
        que emprendemos.
      </p>
      <div
        class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 lg:w-11/12 md:w-full sm:w-auto gap-2"
      >
        <div class="flex flex-col text-center">
          <p class="font-bold text-yellow-500 text-3xl">150+</p>
          <p class="font-bold">Clientes Satisfechos</p>
        </div>
        <div class="flex flex-col text-center">
          <p class="font-bold text-yellow-500 text-3xl">200,000 m²</p>
          <p class="font-bold">Construidos</p>
        </div>
        <div class="flex flex-col text-center">
          <p class="font-bold text-yellow-500 text-3xl">50</p>
          <p class="font-bold">Proyectos en Curso</p>
        </div>
        <div class="flex flex-col text-center">
          <p class="font-bold text-yellow-500 text-3xl">25</p>
          <p class="font-bold">Reconocimientos</p>
        </div>
      </div>
    </div>
    <div
      class="lg:w-20 md:w-14 sm:w-full h-60 flex items-center justify-end lg:mt-0 mx-auto sm:mt-6 card p-3"
    >
      <div class="flex flex-col bg-white h-full w-full text-black p-4 gap-4">
        <h2 class="text-yellow-500 text-[50px] pt-8">20</h2>
        <p class="uppercase font-bold text-sm m-auto">
          años de experiencia en la industria.
        </p>
      </div>
    </div>
  </div>
</div>
