<div class="relative flex w-full h-full opacity-100">
  <section class="hero max-h-full w-full">
    <div class="py-8 w-full sm:px-[1rem] lg:px-[4rem] m-auto relative">
      <div
        class="h-full text-white w-full flex flex-col text-center font-nunito gap-y-4 py-[200px]"
      >
        <h1
          class="p-0 space-x-10 uppercase tracking-widest lg:leading-tight md:leading-tight lg:text-[60px] md:text-[50px] sm:text-3xl"
        >
          Construimos tus sueños
        </h1>
        <p class="lg:w-8/12 md:w-11/12 sm:w-full mx-auto text-lg">
          Transformamos tus ideas en realidad con dedicación y excelencia. Desde
          el primer boceto hasta la última piedra, nos comprometemos a entregar
          proyectos que superen tus expectativas.
        </p>

        <div class="flex gap-6 items-center justify-center">
          <button
            class="border border-yellow-500 bg-yellow-500 hover:bg-yellow-600 hover:border-yellow-600 font-bold duration-500 px-6 py-2 text-base text-white"
          >
            Conocé más
          </button>
          <button
            class="border border-yellow-500 hover:bg-yellow-600 hover:border-yellow-600 font-bold duration-500 px-6 py-2 text-base text-white"
          >
            Contáctanos
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
<app-subheader></app-subheader>
<app-listo-para-ayudarte></app-listo-para-ayudarte>
<app-servicios></app-servicios>
<app-porque-elegirnos></app-porque-elegirnos>
<app-proyectos></app-proyectos>
<app-donde-estamos></app-donde-estamos>
