<section
  class="w-full sm:px-[1rem] lg:px-[10rem] m-auto my-6 bg-gray-100 py-[96px]"
  id="servicios"
>
  <div class="w-full mb-8 text-center flex flex-col relative">
    <p class="text-yellow-600 font-semibold text-base uppercase font-nunito">
      ¿que ofrecemos?
    </p>
    <h2 class="text-3xl font-semibold uppercase font-nunito">
      nuestros servicios
    </h2>
  </div>
  <div
    class="w-full grid lg:grid-cols-3 md:grid-cols-3 sm:grid-cols-1 relative gap-4"
  >
    <div class="h-80 flex items-center justify-end lg:mt-0 sm:mt-6 card p-3">
      <div class="flex flex-col h-full w-full text-white p-4 gap-4 text-center">
        <h2 class="text-yellow-500 pt-8 uppercase">arquitectura</h2>
        <p class="uppercase font-bold text-sm m-auto">
          Creamos diseños arquitectónicos innovadores y funcionales que se
          adaptan a tus necesidades.
        </p>
        <div class="flex justify-center">
          <button
            class="border-yellow-500 border w-auto hover:bg-yellow-500 px-6 py-2"
          >
            Saber más <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="h-80 flex items-center justify-end lg:mt-0 sm:mt-6 card2 p-3">
      <div class="flex flex-col h-full w-full text-white p-4 gap-4 text-center">
        <h2 class="text-yellow-500 pt-8 uppercase">diseño</h2>
        <p class="uppercase font-bold text-sm m-auto">
          Nos especializamos en el diseño de interiores y exteriores que
          reflejan tu estilo y personalidad.
        </p>
        <div class="flex justify-center">
          <button
            class="border-yellow-500 border w-auto hover:bg-yellow-500 px-6 py-2"
          >
            Saber más <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="h-80 flex items-center justify-end lg:mt-0 sm:mt-6 card3 p-3">
      <div class="flex flex-col h-full w-full text-white p-4 gap-4 text-center">
        <h2 class="text-yellow-500 pt-8 uppercase">pre-construcción</h2>
        <p class="uppercase font-bold text-sm m-auto">
          Planificamos cada detalle de tu proyecto antes de iniciar la
          construcción para asegurar resultados perfectos.
        </p>
        <div class="flex justify-center">
          <button
            class="border-yellow-500 border w-auto hover:bg-yellow-500 px-6 py-2"
          >
            Saber más <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
