<section
  class="w-full sm:px-[1rem] lg:px-[0rem] m-auto my-6 py-[46px]"
  id="servicios"
>
  <div
    class="w-full grid lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-1 relative"
  >
    <div class="h-96 card p-3 flex flex-col relative">
      <div class="flex flex-col absolute bottom-0 p-4">
        <h3 class="text-yellow-500 uppercase">The Golden Hall</h3>
        <p class="text-white">
          Un espacio elegante con detalles dorados, ideal para eventos
          exclusivos.
        </p>
      </div>
    </div>
    <div class="h-96 card2 p-3 flex flex-col relative">
      <div class="flex flex-col absolute bottom-0 p-4">
        <h3 class="text-yellow-500 uppercase">Modern Loft</h3>
        <p class="text-white">
          Un loft contemporáneo diseñado para aquellos que aman el estilo y la
          funcionalidad.
        </p>
      </div>
    </div>
    <div class="h-96 card3 p-3 flex flex-col relative">
      <div class="flex flex-col absolute bottom-0 p-4">
        <h3 class="text-yellow-500 uppercase">Urban Oasis</h3>
        <p class="text-white">
          Un refugio urbano con espacios verdes y ambientes relajantes.
        </p>
      </div>
    </div>
    <div class="h-96 card4 p-3 flex flex-col relative">
      <div class="flex flex-col absolute bottom-0 p-4">
        <h3 class="text-yellow-500 uppercase">Skyline View</h3>
        <p class="text-white">
          Disfruta de vistas panorámicas de la ciudad desde este impresionante
          apartamento.
        </p>
      </div>
    </div>
  </div>
</section>
