<div
  class="w-full items-center relative justify-center text-center card"
  id="subHero"
  name="subHero"
>
  <div
    class="text-white lg:flex sm:block bg-yellow-500 justify-between py-6 content px-8 sm:px-[1rem] lg:px-[10rem] w-full"
  >
    <div
      class="w-full flex flex-col justify-start lg:text-left md:text-center sm:text-center"
    >
      <h3 class="uppercase">Desarrollando tus sueños con nosotros.</h3>
      <p>
        En nuestra constructora, transformamos tus ideas en realidad con
        compromiso y calidad.
      </p>
    </div>
    <div class="w-full flex items-center justify-end lg:mt-0 sm:mt-6">
      <button
        class="bg-white text-black px-6 py-3 uppercase font-bold lg:mx-0 sm:mx-auto lg:w-auto md:w-auto sm:w-full"
      >
        Comencemos
      </button>
    </div>
  </div>
</div>
