<section
  class="w-full sm:px-[1rem] lg:px-[10rem] m-auto my-6 py-[96px]"
  id="porque-elegirnos"
>
  <div class="w-full mb-8 text-center flex flex-col relative">
    <p class="text-yellow-600 font-semibold text-base uppercase font-nunito">
      nuestro trabajo
    </p>
    <h2 class="text-3xl font-semibold uppercase font-nunito">
      porque elegirnos
    </h2>
  </div>
  <div
    class="w-full grid lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 relative gap-4"
  >
    <div class="flex items-center justify-end lg:mt-0 sm:mt-6 p-3">
      <img
        src="https://images.unsplash.com/photo-1433840496881-cbd845929862?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt=""
        class="h-full"
      />
    </div>
    <div class="grid grid-cols-2 p-4 gap-4">
      <div class="flex flex-col gap-2 p-2">
        <i
          class="fa-solid fa-shield-alt mx-auto text-[30px] text-yellow-500"
        ></i>
        <h3 class="mx-auto">Responsabilidad</h3>
        <p class="text-sm">
          Nos comprometemos con cada proyecto, asegurando un trabajo ético y
          transparente.
        </p>
      </div>
      <div class="flex flex-col gap-2 p-2">
        <i class="fa-solid fa-gem mx-auto text-[30px] text-yellow-500"></i>
        <h3 class="mx-auto">Calidad</h3>
        <p class="text-sm">
          Utilizamos materiales de primera y técnicas avanzadas para garantizar
          resultados duraderos.
        </p>
      </div>
      <div class="flex flex-col gap-2 p-2">
        <i
          class="fa-solid fa-hourglass-half mx-auto text-[30px] text-yellow-500"
        ></i>
        <h3 class="mx-auto">Experiencia</h3>
        <p class="text-sm">
          Con más de 20 años en el sector, hemos desarrollado una vasta
          experiencia en construcción.
        </p>
      </div>
      <div class="flex flex-col gap-2 p-2">
        <i class="fa-solid fa-toolbox mx-auto text-[30px] text-yellow-500"></i>
        <h3 class="mx-auto">Expertos</h3>
        <p class="text-sm">
          Nuestro equipo de profesionales está altamente capacitado para
          enfrentar cualquier desafío.
        </p>
      </div>
    </div>
  </div>
</section>
